<% is_disabled = false %>
<% is_disabled_checking = @exam.start? || @exam.testing? %>
<%= form_for @exam do |f| %>
  <ol>
    <%= f.fields_for :exam_questions do |question_builder| %>
      <li>
        <%= question_builder.object.question.content %>
        <% unless is_disabled_checking %>
          <%= render "shared/correct_status_label",
            is_correct: question_builder.object.is_correct %>
        <% end %>
        <%= render "answers", question_builder: question_builder,
          is_disabled: is_disabled %>
        <%= tag(:hr) %>
      </li>
    <% end %>
  </ol>
  <%= link_to t(".save"), name: :save,
    class: "btn btn-success pull-left",
    id: "save_button", disabled: is_disabled_checking %>
  <% if @exam.uncheck? %>
    <%= link_to t(".checked"), name: :checked,
      class: "btn btn-danger pull-right",
      id: "checked_button" %>
  <% end %>
<% end %>
